add takes an itemnumber, cost and a quantity
subtotal() returns  the subtotal
add updates a discount collection object
add updates the total which considers customer discount
add considers bulk discount for over 10 items of any one kind 10% discount
reset blanks out the cart
submitOrder saves the cart to the server



controller 